{% macro render(habit, occurredAt) %}
    {% if habit.getTrackPointsByDate(occurredAt).count() > 0 %}
        {{ _self.delete_icon(habit, occurredAt) }}
    {% else %}
        {{ _self.add_icon(habit, occurredAt) }}
    {%  endif %}
{% endmacro %}

{% macro add_icon(habit, occurredAt) %}
    {% set occurredAtStr = occurredAt.format('Y-m-d') %}
    <form
        method="POST"
        action="{{ path('app_habit_add_track_point', {habitId: habit.id, date: occurredAtStr}) }}"
    >
        <button class="btn">
            <i style="color: #aaa" class="bi bi-plus-square"></i>
        </button>
    </form>
{% endmacro %}

{% macro delete_icon(habit, occurredAt) %}
    {% set occurredAtStr = occurredAt.format('Y-m-d') %}
    {% set trackPointCount = habit.getTrackPointsByDate(occurredAt).count() %}
    {% if trackPointCount > 0 %}
    <form
        method="POST"
        action="{{ path('app_habit_delete_track_point', {habitId: habit.id, date: occurredAtStr}) }}"
    >
        <button class="btn">
            <i style="color: {{ habit.pointColor }}" class="bi bi-{{ habit.pointIcon }}"></i>
            {% if trackPointCount > 1 %}
                <span class="badge bg-secondary">{{ trackPointCount <= 9 ? trackPointCount : '9+' }}</span>
            {%  endif %}
        </button>
    </form>
    {%  endif %}
{% endmacro %}
